      <form ng-submit="addRecord()"
            ng-show="isLoggedIn()"
        style="margin-top:30px;">
        <h3>Add a new Business</h3>

        <div class="form-group">
          <input type="text"
            class="form-control"
            placeholder="Business Name"
            ng-model="bizname">
        </div>
        <div class="form-group">
          <input type="text"
          class="form-control"
          placeholder="Address"
          ng-model="address">
        </div>
        <div class="form-group">
          <input type="text"
            class="form-control"
            placeholder="Email"
            ng-model="email">
        </div>
        <div class="form-group">
          <input type="text"
          class="form-control"
          placeholder="Phone"
          ng-model="phone">
        </div>
        <div class="form-group">
          <input type="text"
          class="form-control"
          placeholder="Category"
          ng-model="category">
        </div>
        <button type="submit" class="btn btn-primary">Add</button>
      </form>
